.btn {
    background-color: DodgerBlue;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.avatar {
    vertical-align: middle;
    width: 90px;
    height: 65px;
    border-radius: 50%;
}

.color-blue {
    color: blue;
    width: 25px;
    height: 25px;
}

.vert-divider {
    border-left: 1px solid grey;
}

.form-control {
    border: 0;
}

.no-border {
    border-bottom: 1px solid grey;
    box-shadow: none;
    width: 400px;
    border-radius: 0px;
    /* You may want to include this as bootstrap applies these styles too */
}